# EDA : Handle Missing Value

In [191]:
# 결측치 처리 : 결측치 처리는 train / test를 함께 처리 그러나 test셋에서 y값을 모르므로 train셋만 가지고 판단!

In [192]:
Miss_Handle_df = train_df.copy()
print(Miss_Handle_df.shape)

(3316, 19)

In [193]:
total = Miss_Handle_df.isnull().sum()
Prob = total/Miss_Handle_df.isnull().count()
NAs = pd.concat([total,Prob],axis=1,keys=('Total','Prob'))
NAs[NAs.Total>0].sort_values(by='Total',ascending=False)

              Total      Prob
TotalHours       57  0.017189
HoursPerWeek     56  0.016888

## Missing : HoursPerWeek

In [194]:
# LeagueIndex 별로 결측치가 몇 개 있는지 확인해보자
Miss_Handle_df.groupby('LeagueIndex').count()

,HoursPerWeek,TotalHours,APM,AssignToHotkeys,UniqueHotkeys,MinimapAttacks,MinimapRightClicks,GapBetweenPACs,ActionLatency,ActionsInPAC,TotalMapExplored,WorkersMade,UniqueUnitsMade,ComplexUnitsMade,ComplexAbilityUsed,MaxTimeStamp,LeagueLevel,PlayTime
LeagueIndex,,,,,,,,,,,,,,,,,,
1,163,163,163,163,163,163,163,163,163,163,163,163,163,163,163,163,163,163
2,334,334,334,334,334,334,334,334,334,334,334,334,334,334,334,334,334,334
3,532,532,532,532,532,532,532,532,532,532,532,532,532,532,532,532,532,532
4,798,798,798,798,798,798,798,798,798,798,798,798,798,798,798,798,798,798
5,782,781,783,783,783,783,783,783,783,783,783,783,783,783,783,783,783,783
6,616,616,616,616,616,616,616,616,616,616,616,616,616,616,616,616,616,616
7,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35
8,0,0,55,55,55,55,55,55,55,55,55,55,55,55,55,55,55,55

In [195]:
# HoursPerWeek의 결측치는 LeagueIndex 5 및 LeagueIndex 8
# LeagueIndex 5 : 다이아 구간, 수준 1
# LeagueIndex 8 : 프로 구간, 수준 2
# 따라서 LeagueIndex 5에서의 HoursPerWeek의 결측값은 평균으로 대체
# 따라서 LeagueIndex 7에서의 HoursPerWeek의 결측값은 평균으로 대체

In [196]:
HoursPerWeek_ls_5 = Miss_Handle_df[(Miss_Handle_df['HoursPerWeek'].isna()) & (Miss_Handle_df['LeagueIndex'] == 5)]

In [197]:
HoursPerWeek_ls_5.index

Int64Index([1841], dtype='int64')

In [198]:
train_df.groupby(train_df.LeagueIndex).HoursPerWeek.mean()[5]

15.73913043478261

In [199]:
Miss_Handle_df.loc[HoursPerWeek_ls_5.index, 'HoursPerWeek'] = train_df.groupby(train_df.LeagueIndex).HoursPerWeek.mean()[5]

In [200]:
HoursPerWeek_ls_6 = Miss_Handle_df[(Miss_Handle_df['HoursPerWeek'].isna()) & (Miss_Handle_df['LeagueIndex'] == 8)]

In [201]:
HoursPerWeek_ls_6.index

Int64Index([3340, 3341, 3342, 3343, 3344, 3345, 3346, 3347, 3348, 3349, 3350,
            3351, 3352, 3353, 3354, 3355, 3356, 3357, 3358, 3359, 3360, 3361,
            3362, 3363, 3364, 3365, 3366, 3367, 3368, 3369, 3370, 3371, 3372,
            3373, 3374, 3375, 3376, 3377, 3378, 3379, 3380, 3381, 3382, 3383,
            3384, 3385, 3386, 3387, 3388, 3389, 3390, 3391, 3392, 3393, 3394],
           dtype='int64')

In [202]:
train_df.groupby(train_df.LeagueIndex).HoursPerWeek.mean()[7]

31.714285714285715

In [203]:
train_df[train_df.LeagueIndex == 7].HoursPerWeek.max()

98.0

In [204]:
Miss_Handle_df.loc[HoursPerWeek_ls_6.index, 'HoursPerWeek'] = train_df[train_df.LeagueIndex == 7].HoursPerWeek.max()

In [205]:
# 결측치 대체
Miss_Handle_df.HoursPerWeek.isna().sum()

0

## Missing : TotalHours

In [206]:
# LeagueIndex 별로 결측치가 몇 개 있는지 확인해보자
Miss_Handle_df.groupby('LeagueIndex').count()

,HoursPerWeek,TotalHours,APM,AssignToHotkeys,UniqueHotkeys,MinimapAttacks,MinimapRightClicks,GapBetweenPACs,ActionLatency,ActionsInPAC,TotalMapExplored,WorkersMade,UniqueUnitsMade,ComplexUnitsMade,ComplexAbilityUsed,MaxTimeStamp,LeagueLevel,PlayTime
LeagueIndex,,,,,,,,,,,,,,,,,,
1,163,163,163,163,163,163,163,163,163,163,163,163,163,163,163,163,163,163
2,334,334,334,334,334,334,334,334,334,334,334,334,334,334,334,334,334,334
3,532,532,532,532,532,532,532,532,532,532,532,532,532,532,532,532,532,532
4,798,798,798,798,798,798,798,798,798,798,798,798,798,798,798,798,798,798
5,783,781,783,783,783,783,783,783,783,783,783,783,783,783,783,783,783,783
6,616,616,616,616,616,616,616,616,616,616,616,616,616,616,616,616,616,616
7,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35
8,55,0,55,55,55,55,55,55,55,55,55,55,55,55,55,55,55,55

In [207]:
TotalHours_ls_5 = Miss_Handle_df[(Miss_Handle_df['TotalHours'].isna()) & (Miss_Handle_df['LeagueIndex'] == 5)]

In [208]:
TotalHours_ls_5.index

Int64Index([358, 1841], dtype='int64')

In [209]:
Miss_Handle_df.loc[TotalHours_ls_5.index, 'TotalHours'] = train_df.groupby(train_df.LeagueIndex).TotalHours.mean()[5]

In [210]:
TotalHours_ls_6 = Miss_Handle_df[(Miss_Handle_df['TotalHours'].isna()) & (Miss_Handle_df['LeagueIndex'] == 8)]

In [211]:
TotalHours_ls_6.index

Int64Index([3340, 3341, 3342, 3343, 3344, 3345, 3346, 3347, 3348, 3349, 3350,
            3351, 3352, 3353, 3354, 3355, 3356, 3357, 3358, 3359, 3360, 3361,
            3362, 3363, 3364, 3365, 3366, 3367, 3368, 3369, 3370, 3371, 3372,
            3373, 3374, 3375, 3376, 3377, 3378, 3379, 3380, 3381, 3382, 3383,
            3384, 3385, 3386, 3387, 3388, 3389, 3390, 3391, 3392, 3393, 3394],
           dtype='int64')

In [212]:
train_df[train_df.LeagueIndex == 7].TotalHours.max()

10000.0

In [213]:
Miss_Handle_df.loc[TotalHours_ls_6.index, 'TotalHours'] = train_df[train_df.LeagueIndex == 7].HoursPerWeek.max()

In [214]:
# 결측치 대체
Miss_Handle_df.TotalHours.isna().sum()

0

# Variable Selection

In [215]:
# TotalHours 제거 및 LeagueIndex(더 이상 필요없음)
Miss_Handle_df.drop(['LeagueIndex', 'MaxTimeStamp'], axis = 1, inplace=True)

In [216]:
Miss_Handle_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3316 entries, 0 to 3394
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   HoursPerWeek        3316 non-null   float64
 1   TotalHours          3316 non-null   float64
 2   APM                 3316 non-null   float64
 3   AssignToHotkeys     3316 non-null   float64
 4   UniqueHotkeys       3316 non-null   float64
 5   MinimapAttacks      3316 non-null   float64
 6   MinimapRightClicks  3316 non-null   float64
 7   GapBetweenPACs      3316 non-null   float64
 8   ActionLatency       3316 non-null   float64
 9   ActionsInPAC        3316 non-null   float64
 10  TotalMapExplored    3316 non-null   float64
 11  WorkersMade         3316 non-null   float64
 12  UniqueUnitsMade     3316 non-null   float64
 13  ComplexUnitsMade    3316 non-null   float64
 14  ComplexAbilityUsed  3316 non-null   float64
 15  LeagueLevel         3316 non-null   int64
 16  PlayTime            3316 non-null   float64
dtypes: float64(16), int64(1)
memory usage: 595.4 KB

# Feature Engineering

## APM

In [217]:
# APM
# 1. 0, .15, .30, .45, .60, .75, .90, .95, 1

In [218]:
Miss_Handle_df['APM_BAND'] = pd.qcut(Miss_Handle_df.APM, [0, .15, .3, .45, .60, .75, .90, .95, 1])
Miss_Handle_df['APM_BAND'].dtype

CategoricalDtype(categories=[(22.058999999999997, 67.397], (67.397, 86.03], (86.03, 102.583], (102.583, 120.432], (120.432, 142.474], (142.474, 184.426], (184.426, 211.764], (211.764, 389.831]], ordered=True)

In [219]:
Miss_Handle_df.loc[(Miss_Handle_df['APM']>20) & (Miss_Handle_df['APM']<=67.397),'APM_Bin'] = 'Level_0'
Miss_Handle_df.loc[(Miss_Handle_df['APM']>67.397) & (Miss_Handle_df['APM']<=86.03),'APM_Bin'] = 'Level_1'
Miss_Handle_df.loc[(Miss_Handle_df['APM']>86.03) & (Miss_Handle_df['APM']<=102.583),'APM_Bin'] = 'Level_2'
Miss_Handle_df.loc[(Miss_Handle_df['APM']>102.583) & (Miss_Handle_df['APM']<=120.432),'APM_Bin'] = 'Level_3'
Miss_Handle_df.loc[(Miss_Handle_df['APM']>120.432) & (Miss_Handle_df['APM']<=142.474),'APM_Bin'] = 'Level_4'
Miss_Handle_df.loc[(Miss_Handle_df['APM']>142.474) & (Miss_Handle_df['APM']<=184.426),'APM_Bin'] = 'Level_5'
Miss_Handle_df.loc[(Miss_Handle_df['APM']>184.426) & (Miss_Handle_df['APM']<=211.764),'APM_Bin'] = 'Level_6'
Miss_Handle_df.loc[(Miss_Handle_df['APM']>211.764) & (Miss_Handle_df['APM']<=400),'APM_Bin'] = 'Level_7'

In [220]:
# APM_Bin 결측치 확인
Miss_Handle_df.APM_Bin.isna().sum()

0

## PlayTime

In [221]:
Miss_Handle_df['PlayTime_BAND'] = pd.cut(Miss_Handle_df.PlayTime, 3)
Miss_Handle_df['PlayTime_BAND'].dtype

CategoricalDtype(categories=[(4.707, 19.204], (19.204, 33.658], (33.658, 48.112]], ordered=True)

In [222]:
Miss_Handle_df.loc[(Miss_Handle_df['PlayTime']>0) & (Miss_Handle_df['PlayTime']<=19.204),'PlayTime_Bin'] = 'Short'
Miss_Handle_df.loc[(Miss_Handle_df['PlayTime']>19.204) & (Miss_Handle_df['PlayTime']<=33.658),'PlayTime_Bin'] = 'Mid'
Miss_Handle_df.loc[(Miss_Handle_df['PlayTime']>33.658),'PlayTime_Bin'] = 'Long'

In [223]:
# PlayTime_Bin 결측치 확인
Miss_Handle_df.PlayTime_Bin.isna().sum()

0

In [224]:
Miss_Handle_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3316 entries, 0 to 3394
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   HoursPerWeek        3316 non-null   float64
 1   TotalHours          3316 non-null   float64
 2   APM                 3316 non-null   float64
 3   AssignToHotkeys     3316 non-null   float64
 4   UniqueHotkeys       3316 non-null   float64
 5   MinimapAttacks      3316 non-null   float64
 6   MinimapRightClicks  3316 non-null   float64
 7   GapBetweenPACs      3316 non-null   float64
 8   ActionLatency       3316 non-null   float64
 9   ActionsInPAC        3316 non-null   float64
 10  TotalMapExplored    3316 non-null   float64
 11  WorkersMade         3316 non-null   float64
 12  UniqueUnitsMade     3316 non-null   float64
 13  ComplexUnitsMade    3316 non-null   float64
 14  ComplexAbilityUsed  3316 non-null   float64
 15  LeagueLevel         3316 non-null   int64
 16  PlayTime            3316 non-null   float64
 17  APM_BAND            3316 non-null   category
 18  APM_Bin             3316 non-null   object
 19  PlayTime_BAND       3316 non-null   category
 20  PlayTime_Bin        3316 non-null   object
dtypes: category(2), float64(16), int64(1), object(2)
memory usage: 654.2+ KB

## Feature Selection

In [225]:
Miss_Handle_df.drop(['APM',  'APM_BAND', 'PlayTime', 'PlayTime_BAND'], axis = 1, inplace=True)

In [226]:
Miss_Handle_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3316 entries, 0 to 3394
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   HoursPerWeek        3316 non-null   float64
 1   TotalHours          3316 non-null   float64
 2   AssignToHotkeys     3316 non-null   float64
 3   UniqueHotkeys       3316 non-null   float64
 4   MinimapAttacks      3316 non-null   float64
 5   MinimapRightClicks  3316 non-null   float64
 6   GapBetweenPACs      3316 non-null   float64
 7   ActionLatency       3316 non-null   float64
 8   ActionsInPAC        3316 non-null   float64
 9   TotalMapExplored    3316 non-null   float64
 10  WorkersMade         3316 non-null   float64
 11  UniqueUnitsMade     3316 non-null   float64
 12  ComplexUnitsMade    3316 non-null   float64
 13  ComplexAbilityUsed  3316 non-null   float64
 14  LeagueLevel         3316 non-null   int64
 15  APM_Bin             3316 non-null   object
 16  PlayTime_Bin        3316 non-null   object
dtypes: float64(14), int64(1), object(2)
memory usage: 595.4+ KB

# Assembling Final Datasets

In [227]:
# Spilt numeric and categorical features
obj_feats = Miss_Handle_df.select_dtypes(include=['object']).columns
number_feats = Miss_Handle_df.select_dtypes(include=['float64','int64']).columns
number_df = Miss_Handle_df[number_feats]
obj_df = Miss_Handle_df[obj_feats]
print('There are %d numeric features and %d categorical features\n' %(len(number_feats),len(obj_feats)))
print('Numeric features:\n',number_feats.values)
print('Categorical features:\n',obj_feats.values)

There are 15 numeric features and 2 categorical features

Numeric features:
 ['HoursPerWeek' 'TotalHours' 'AssignToHotkeys' 'UniqueHotkeys'
 'MinimapAttacks' 'MinimapRightClicks' 'GapBetweenPACs' 'ActionLatency'
 'ActionsInPAC' 'TotalMapExplored' 'WorkersMade' 'UniqueUnitsMade'
 'ComplexUnitsMade' 'ComplexAbilityUsed' 'LeagueLevel']
Categorical features:
 ['APM_Bin' 'PlayTime_Bin']

In [228]:
# One hot encoding
obj_df = pd.get_dummies(obj_df)

In [229]:
# Merge all features
SkillCraft_df = pd.concat([number_df, obj_df],axis=1)

In [230]:
SkillCraft_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3316 entries, 0 to 3394
Data columns (total 26 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   HoursPerWeek        3316 non-null   float64
 1   TotalHours          3316 non-null   float64
 2   AssignToHotkeys     3316 non-null   float64
 3   UniqueHotkeys       3316 non-null   float64
 4   MinimapAttacks      3316 non-null   float64
 5   MinimapRightClicks  3316 non-null   float64
 6   GapBetweenPACs      3316 non-null   float64
 7   ActionLatency       3316 non-null   float64
 8   ActionsInPAC        3316 non-null   float64
 9   TotalMapExplored    3316 non-null   float64
 10  WorkersMade         3316 non-null   float64
 11  UniqueUnitsMade     3316 non-null   float64
 12  ComplexUnitsMade    3316 non-null   float64
 13  ComplexAbilityUsed  3316 non-null   float64
 14  LeagueLevel         3316 non-null   int64
 15  APM_Bin_Level_0     3316 non-null   uint8
 16  APM_Bin_Level_1     3316 non-null   uint8
 17  APM_Bin_Level_2     3316 non-null   uint8
 18  APM_Bin_Level_3     3316 non-null   uint8
 19  APM_Bin_Level_4     3316 non-null   uint8
 20  APM_Bin_Level_5     3316 non-null   uint8
 21  APM_Bin_Level_6     3316 non-null   uint8
 22  APM_Bin_Level_7     3316 non-null   uint8
 23  PlayTime_Bin_Long   3316 non-null   uint8
 24  PlayTime_Bin_Mid    3316 non-null   uint8
 25  PlayTime_Bin_Short  3316 non-null   uint8
dtypes: float64(14), int64(1), uint8(11)
memory usage: 579.2 KB